@font-face {
    font-family: 'dreamland';
    src: url('fonts/dreamland/dreamland.eot');
    src: url('fonts/dreamland/dreamland.eot?#iefix') format('embedded-opentype'),
        url('fonts/dreamland/dreamland.woff2') format('woff2'),
        url('fonts/dreamland/dreamland.woff') format('woff'),
        url('fonts/dreamland/dreamland.ttf') format('truetype'),
        url('fonts/dreamland/dreamland.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url('fonts/open-sans/OpenSans-Light.eot');
    src: url('fonts/open-sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
        url('fonts/open-sans/OpenSans-Light.woff') format('woff'),
        url('fonts/open-sans/OpenSans-Light.ttf') format('truetype'),
        url('fonts/open-sans/OpenSans-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.Footer {
  font-family: 'open-sans';
  height: 10vh;
  background-color: #030E2A;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5vh;
  text-decoration: none;
}

.Footer-luv {
  font-family: 'dreamland';
  font-weight: normal;
  font-style: normal;
  font-size: 4vh;
  color: #E88DAB;
  flex-shrink: 0;
}