@font-face {
    font-family: 'dreamland';
    src: url('fonts/dreamland/dreamland.eot');
    src: url('fonts/dreamland/dreamland.eot?#iefix') format('embedded-opentype'),
        url('fonts/dreamland/dreamland.woff2') format('woff2'),
        url('fonts/dreamland/dreamland.woff') format('woff'),
        url('fonts/dreamland/dreamland.ttf') format('truetype'),
        url('fonts/dreamland/dreamland.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.Travel {
  min-height: 45vh;
  background-color: #0D1735;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5vh;
  text-decoration: none;
}

.Travel-text {
  width: 90vw;
}

.Lodging-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.Travel-options {
  flex-direction: row;
  margin-bottom: 2vh;
}

li {
  list-style-type: none;
  display: inline;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: white;
  flex-direction: column;
}

.TravelIcon {
  padding-right: 10vw;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'dreamland';
  font-weight: normal;
  font-style: normal;
  color: #F0C2D1;
}

.Travel-text {
  width: 75vw;
  padding-bottom: 5vh;
}


.Lodging-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Travel-description {
  width: 33%;
  font-size: 1.7vh;
}

.LodgingIcon {
  align-items: center;
  justify-content: center;
}

.Hotel-distance {
  padding-top: 2vh;
  font-weight: bold;
  color: #E88DAB;
}

.Hotel-code {
  color: #F0C2D1;
}