/*
@font-face {
    font-family: 'open-sans';
    src: url('fonts/open-sans/OpenSans-Light.eot');
    src: url('fonts/open-sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
        url('fonts/open-sans/OpenSans-Light.woff') format('woff'),
        url('fonts/open-sans/OpenSans-Light.ttf') format('truetype'),
        url('fonts/open-sans/OpenSans-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*/

.Venue {
  font-family: 'OpenSans-Light';
  height: 10vh;
  background-color: #030E2A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5vh;
}

.Venue-link {
  /*font-size: 4vh;*/
  font-size: 2.5vh;
  color: #E88DAB;
  text-decoration: none;
}

.Venue-link:hover {
  color: #61dafb;
}