.Event-timeline {
  height: 45vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5vh;
  text-decoration: none;
}